@charset "UTF-8";
/* Шрифты */
@font-face {
  font-family: "Proxima Nova Light";
  src: url("../fonts/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Proxima Nova Regular";
  src: url("../fonts/ProximaNova-Regular.eot");
  src: url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Proxima Nova Bold";
  src: url("../fonts/ProximaNova-Bold.eot");
  src: url("../fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* Цвета */
/* цвета текста */
/* цвета фона и базовые цвета*/
/* цвет фона и текста кнопки */
/* переменные */
/* базовые настройки */
/* базовые настройки */
* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Proxima Nova Regular", sans-serif;
  font-weight: 300;
  color: #000000;
}

a, button, input, textarea, select {
  outline: none;
  text-decoration: none;
}
a:focus, button:focus, input:focus, textarea:focus, select:focus {
  outline: none;
}

a {
  transition: all 0.3s;
  color: #ffffff;
}

a:hover {
  text-decoration: none;
  color: #507fe1;
  transition: all 0.3s;
}

a:active {
  color: #ffffff;
}

.button {
  padding: 1.2rem 2.5rem 1.2rem 2.5rem;
  text-transform: uppercase;
  border: none;
  background-color: #507fe1;
  color: #ffffff;
  transition: all 0.3s;
}
.button:hover {
  background-color: #3a6fdd;
  color: #f2f2f2;
  transition: all 0.3s;
}

.input {
  padding: 1rem;
  font-size: 1.6rem;
}

.section {
  position: relative;
  z-index: 10;
  padding-top: 1rem;
  padding-bottom: 10rem;
}
.section__title {
  position: relative;
  font-size: 2.5rem;
  font-family: "Proxima Nova Regular", sans-serif;
  font-weight: 700;
  color: #000000;
}
.section__title::before {
  content: "";
  position: absolute;
  z-index: 1;
  left: 0px;
  bottom: 0px;
  display: block;
  width: 2rem;
  height: 3px;
  background-color: #507fe1;
}

/* контейнер для контента */
.container {
  max-width: 1170px;
  margin: 0px auto;
}

/* медиа запросы */
@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 992px) {
  html {
    font-size: 9px;
  }

  .container {
    max-width: 750px;
  }
}
@media (max-width: 768px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 480px) {
  .input {
    padding: 2rem 2rem;
    height: 6rem;
  }
}
/* header */
.header {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 20;
  font-size: 1.5rem;
  background-color: #000000;
  height: 8rem;
  color: #ffffff;
}
.header__inner {
  position: relative;
  z-index: 5;
  background-color: #000000;
}
.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
}

.menu-btn {
  position: relative;
  width: 5rem;
  height: 100%;
  border: none;
  background-color: transparent;
  transition: all 0.3s;
}
.menu-btn:hover {
  background-color: #507fe1;
  transition: all 0.3s;
}
.menu-btn:hover .menu-btn__line, .menu-btn:hover .menu-btn__line::after, .menu-btn:hover .menu-btn__line::before {
  background-color: #ffffff;
  transition: all 0.3s;
}
.menu-btn__line {
  position: absolute;
  display: block;
  width: 2rem;
  height: 3px;
  border: none;
  background-color: #507fe1;
  transition: all 0.3s;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.menu-btn__line::after {
  position: absolute;
  display: block;
  width: 2rem;
  height: 3px;
  border: none;
  background-color: #507fe1;
  transition: all 0.3s;
  content: "";
  top: 7px;
}
.menu-btn__line::before {
  position: absolute;
  display: block;
  width: 2rem;
  height: 3px;
  border: none;
  background-color: #507fe1;
  transition: all 0.3s;
  content: "";
  bottom: 7px;
}

.logo {
  display: flex;
  flex-direction: column;
  margin-top: -0.6rem;
}
.logo__title {
  margin-top: 0;
  font-family: "Proxima Nova Bold", sans-serif;
  font-weight: 700;
  font-size: 28px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.8px;
  line-height: normal;
}
.logo__title span {
  color: #ffa000;
}
.logo__subtitle {
  font-size: 14px;
  color: #ffffff;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  max-width: 30rem;
}
.contact__address {
  position: relative;
  margin-bottom: 1.3rem;
}
.contact__address::before {
  font-family: "Font Awesome 5 Free", "Font Awesome 5 Brands";
  content: "";
  font-weight: 900;
  font-size: 1.5rem;
  color: #507fe1;
  position: absolute;
  top: 50%;
  transform: translateY(-59%);
  left: -18px;
  display: block;
  width: 15px;
  height: 15px;
}
.contact__schedule {
  position: relative;
}
.contact__schedule::before {
  font-family: "Font Awesome 5 Free", "Font Awesome 5 Brands";
  content: "";
  font-weight: 900;
  font-size: 1.5rem;
  color: #507fe1;
  position: absolute;
  top: 50%;
  transform: translateY(-59%);
  left: -20px;
  display: block;
  width: 15px;
  height: 15px;
}
.contact__phone {
  position: relative;
  margin-bottom: 1.2rem;
  text-transform: uppercase;
  font-family: "Proxima Nova Regular", sans-serif;
  font-weight: normal;
  font-size: 1.7rem;
  color: #ffffff;
}
.contact__phone::before {
  font-family: "Font Awesome 5 Free", "Font Awesome 5 Brands";
  content: "";
  font-weight: 900;
  font-size: 1.5rem;
  color: #507fe1;
  position: absolute;
  top: 50%;
  transform: translateY(-59%);
  left: -20px;
  display: block;
  width: 15px;
  height: 15px;
}
.contact__mail {
  position: relative;
  color: #ffffff;
}
.contact__mail::before {
  font-family: "Font Awesome 5 Free", "Font Awesome 5 Brands";
  content: "";
  font-weight: 900;
  font-size: 1.5rem;
  color: #507fe1;
  position: absolute;
  top: 50%;
  transform: translateY(-59%);
  left: -20px;
  display: block;
  width: 15px;
  height: 15px;
}

.language {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.language__item {
  position: relative;
  margin-bottom: 1.3rem;
  color: #ffffff;
}
.language__item:last-child {
  margin-bottom: 0px;
}
.language__link {
  color: #ffffff;
}
.language__link_english::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -25px;
  display: block;
  width: 15px;
  height: 15px;
  background: url("../img/english.png") center no-repeat;
}
.language__link_russian::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -25px;
  display: block;
  width: 15px;
  height: 15px;
  background: url("../img/russian.png") center no-repeat;
}

.btn-callback {
  font-family: "Proxima Nova Regular", sans-serif;
  font-weight: 700;
  border: 2px solid #507fe1;
  background-color: #000000;
  color: #507fe1;
}

/* медиа запросы */
@media (max-width: 992px) {
  .contact_address {
    display: none;
  }
}
@media (max-width: 768px) {
  .contact_phone {
    display: none;
  }
}
@media (max-width: 550px) {
  .menu-btn {
    width: 15%;
  }

  .logo {
    width: 70%;
  }
  .logo__title {
    margin-right: auto;
    margin-left: auto;
  }
  .logo__subtitle {
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
  }

  .contact_phone {
    display: none;
  }

  .language {
    width: 15%;
  }
  .language__link {
    display: inline-block;
  }
  .language__link_english {
    margin-bottom: 1.9rem;
  }
  .language__link_english::before {
    left: 35%;
  }
  .language__link_russian::before {
    left: 35%;
  }
  .language__text {
    display: none;
  }

  .btn-callback {
    display: none;
  }
}
/* menu */
.menu {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: -5;
  padding: 0;
  background-color: #507fe1;
  opacity: 0;
  transition: all 0.3s;
}
.menu_active {
  z-index: 5;
  transform: translateY(100%);
  opacity: 1;
  transition: all 0.3s;
}

.menu-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  margin: 0px;
}
.menu-block__item {
  height: 100%;
  padding: 1.5rem;
  margin: 0;
  list-style-type: none;
  transition: all 0.3s;
}
.menu-block__item:hover {
  background-color: #fff;
  color: #507fe1;
  transition: all 0.3s;
}
.menu-block__link {
  text-transform: uppercase;
  color: inherit;
  font-family: "Proxima Nova Regular", sans-serif;
  font-weight: normal;
}

@media (max-width: 768px) {
  .menu-block {
    flex-direction: column;
  }
}
/* main */
.main-content {
  margin-top: 8rem;
}

.main {
  position: relative;
  padding: 5rem 0 12rem 0;
  font-size: 1.6rem;
  background: url(../img/main/main.png) center no-repeat;
  background-size: cover;
  background-color: #ffffff;
}
.main::after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: -100px;
  left: 0;
  right: 0;
  display: block;
  width: 100%;
  height: 150px;
  background-color: #ffffff;
  transform: skewY(2deg);
}
.main__title-wrap {
  margin-bottom: 6rem;
  text-align: center;
  color: #ffffff;
}
.main__title {
  font-family: "Proxima Nova Bold", sans-serif;
  font-weight: 700;
  font-size: 4.5rem;
}
.main__subtitle {
  font-family: "Proxima Nova Regular", sans-serif;
  font-weight: 300;
  font-size: 2.5rem;
}
.main__policy {
  margin-top: 1rem;
}
.main__features {
  margin-top: 6rem;
}

.main-form {
  width: 73rem;
  margin-right: auto;
  margin-left: auto;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
}
.main-form__input {
  margin-right: -2px;
  margin-left: -2px;
  width: 23rem;
  border-radius: 0px;
  border: 1px solid #fff;
}
.main-form__input:first-child {
  border-right: 1px solid #000000;
}
.main-form__input:last-child {
  border-right-color: #507fe1;
}
.main-form__button {
  display: inline-block;
  margin-right: -2px;
  margin-left: -1px;
  padding: 1rem;
  width: 23rem;
  text-transform: none;
  color: #ffffff;
  background-color: #507fe1;
  border: 1px solid #507fe1;
  transition: all 0.3s;
}
.main-form__button:hover {
  background-color: #3a6fdd;
  color: #f2f2f2;
  transition: all 0.3s;
}

.policy__link {
  text-decoration: underline;
}
.policy__link:hover {
  text-decoration: underline;
}

.features {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}
.features__item {
  text-align: center;
}
.features__img {
  width: 7rem;
}
.features__text {
  display: block;
  margin-top: 2rem;
  font-family: "Proxima Nova Regular", sans-serif;
  font-weight: 700;
}

@media (max-width: 992px) {
  .main-form__input {
    margin-right: -2px;
    margin-left: -1px;
  }
}
@media (max-width: 768px) {
  .main-form {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
  .main-form__input {
    display: block;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2rem;
  }
  .main-form__button {
    display: block;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }

  .features {
    flex-wrap: wrap;
  }
  .features__item {
    flex-basis: 50%;
    margin-top: 5rem;
  }
}
@media (max-width: 550px) {
  .main__title {
    font-size: 3.9rem;
  }
  .main__subtitle {
    font-size: 2rem;
  }

  .main-form {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
  .main-form__input {
    display: block;
    width: 100%;
    height: 40px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2rem;
    border: none;
  }
  .main-form__button {
    display: block;
    width: 100%;
    height: 40px;
    margin-right: auto;
    margin-left: auto;
  }
}
/* main */
.about {
  background-color: #ffffff;
}
.about__wrap {
  max-width: 70%;
}
.about__text {
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .about__wrap {
    max-width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
