@charset "UTF-8";
/* Шрифты */
@font-face {
  font-family: "Proxima Nova Regular";
  src: url("../fonts/ProximaNova-Regular.eot");
  src: url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Proxima Nova Bold";
  src: url("../fonts/ProximaNova-Bold.eot");
  src: url("../fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* Цвета */
/* цвета текста */
/* цвета фона и базовые цвета*/
/* цвет фона и текста кнопки */
/* переменные */
/* цвета сообщений об ошибке */
/* базовые настройки */
/* базовые настройки */
* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Proxima Nova Regular", sans-serif;
  font-weight: 300;
  font-size: 1.7rem;
  color: #000000;
  overflow-x: hidden;
}

a, button, input, textarea, select {
  outline: none;
  text-decoration: none;
}
a:focus, button:focus, input:focus, textarea:focus, select:focus {
  outline: none;
}

a {
  color: #ffffff;
  transition: all 0.3s;
}

a:hover {
  text-decoration: none;
  color: #507fe1;
  transition: all 0.3s;
}

a:active {
  color: #ffffff;
}

.button {
  padding: 1.2rem 2.5rem 1.2rem 2.5rem;
  text-transform: uppercase;
  background-color: #507fe1;
  border: none;
  color: #ffffff;
  transition: all 0.3s;
}
.button:hover {
  background-color: #507fe1;
  color: #ffffff;
  border-color: #507fe1;
  transition: all 0.3s;
}
.button_error {
  background-color: red !important;
  border-color: red !important;
}
.button_error:hover {
  color: #ffffff !important;
}
.button_policy-error {
  background-color: rgba(80, 127, 225, 0.5) !important;
  border-color: rgba(80, 127, 225, 0.5) !important;
}
.button_policy-error:hover {
  color: #ffffff !important;
}

.button-hover:hover {
  background-color: #000000;
  color: #507fe1;
  border: 1px solid #507fe1;
  transition: all 0.3s;
}

.input {
  padding: 1rem;
  height: 42px;
  font-size: 1.6rem;
  border: 1px solid rgba(0, 0, 0, 0.8);
}
.input_error {
  border: 1px solid red !important;
}
.input_message {
  position: absolute;
  max-width: 28rem;
  font-family: "Proxima Nova Regular", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  letter-spacing: 1px;
  color: red;
}
.input:focus body {
  border: 1px solid red;
}

.section {
  position: relative;
}
.section__title {
  position: relative;
  z-index: 5;
  margin-top: 0;
  margin-bottom: 7rem;
  font-size: 3rem;
  font-family: "Proxima Nova Regular", sans-serif;
  font-weight: 700;
  color: #000000;
}
.section__title:first-letter {
  border-bottom: 3px solid #507fe1;
}

/* контейнер для контента */
.container {
  margin: 0px auto;
  max-width: 1170px;
}

/* медиа запросы */
@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 992px) {
  html {
    font-size: 9px;
  }

  .container {
    max-width: 750px;
  }
}
@media (max-width: 768px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .section__title {
    margin-bottom: 5rem;
  }
}
/* slick слайдер */
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}
[dir=rtl] .slick-prev {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: "";
}
[dir=rtl] .slick-prev:before {
  content: "";
}

.slick-next {
  right: -25px;
}
[dir=rtl] .slick-next {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: "→";
}
[dir=rtl] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  z-index: 5;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 1px solid #507fe1;
  border-radius: 50%;
  background: transparent;
  display: block;
  height: 17px;
  width: 17px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button {
  background-color: #507fe1;
}

/* header */
.header {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 20;
  height: 8rem;
  font-size: 1.5rem;
  background-color: #000000;
  color: #ffffff;
}
.header__inner {
  position: relative;
  z-index: 20;
  background-color: #000000;
}
.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
}

.menu-btn {
  position: relative;
  width: 5rem;
  height: 100%;
  border: none;
  background-color: transparent;
  transition: all 0.3s;
}
.menu-btn_active {
  background-color: #507fe1;
}
.menu-btn:hover {
  background-color: #507fe1;
  transition: all 0.3s;
}
.menu-btn:hover .menu-btn__line, .menu-btn:hover .menu-btn__line::after, .menu-btn:hover .menu-btn__line::before {
  background-color: #ffffff;
  transition: all 0.3s;
}
.menu-btn__line {
  position: absolute;
  display: block;
  width: 2rem;
  height: 3px;
  border: none;
  background-color: #507fe1;
  transition: all 0.3s;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.menu-btn__line::after {
  position: absolute;
  display: block;
  width: 2rem;
  height: 3px;
  border: none;
  background-color: #507fe1;
  transition: all 0.3s;
  content: "";
  top: 7px;
}
.menu-btn__line::before {
  position: absolute;
  display: block;
  width: 2rem;
  height: 3px;
  border: none;
  background-color: #507fe1;
  transition: all 0.3s;
  content: "";
  bottom: 7px;
}
.menu-btn__line_active {
  background-color: transparent !important;
}
.menu-btn__line_active::before {
  bottom: 0;
  background-color: #ffffff;
  transform: rotate(45deg);
}
.menu-btn__line_active::after {
  top: 0;
  background-color: #ffffff;
  transform: rotate(-45deg);
}

.logo {
  margin-top: -0.6rem;
  display: flex;
  flex-direction: column;
}
.logo__title {
  margin-top: 0;
  font-family: "Proxima Nova Bold", sans-serif;
  font-weight: 700;
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  line-height: normal;
  color: #ffffff;
}
.logo__title span {
  color: #ffa000;
}
.logo__subtitle {
  font-size: 14px;
  color: #ffffff;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  max-width: 30rem;
}
.contact__address {
  position: relative;
  margin-bottom: 1.3rem;
}
.contact__address::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -18px;
  display: block;
  width: 15px;
  height: 15px;
  font-family: "Font Awesome 5 Free", "Font Awesome 5 Brands";
  font-weight: 900;
  font-size: 1.5rem;
  color: #507fe1;
  transform: translateY(-59%);
}
.contact__schedule {
  position: relative;
}
.contact__schedule::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -20px;
  display: block;
  width: 15px;
  height: 15px;
  font-family: "Font Awesome 5 Free", "Font Awesome 5 Brands";
  font-weight: 900;
  font-size: 1.5rem;
  color: #507fe1;
  transform: translateY(-59%);
}
.contact__phone {
  position: relative;
  margin-bottom: 1.2rem;
  font-family: "Proxima Nova Regular", sans-serif;
  font-weight: normal;
  font-size: 1.7rem;
  text-transform: uppercase;
  color: #ffffff;
}
.contact__phone::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -20px;
  display: block;
  width: 15px;
  height: 15px;
  font-family: "Font Awesome 5 Free", "Font Awesome 5 Brands";
  font-weight: 900;
  font-size: 1.5rem;
  color: #507fe1;
  transform: translateY(-59%);
}
.contact__mail {
  position: relative;
  color: #ffffff;
}
.contact__mail::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -20px;
  display: block;
  width: 15px;
  height: 15px;
  font-family: "Font Awesome 5 Free", "Font Awesome 5 Brands";
  font-weight: 900;
  font-size: 1.5rem;
  color: #507fe1;
  transform: translateY(-59%);
}

.language {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.language__item {
  position: relative;
  margin-bottom: 1.3rem;
  color: #ffffff;
}
.language__item:last-child {
  margin-bottom: 0px;
}
.language__link {
  color: #ffffff;
}
.language__link_english::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -20px;
  display: block;
  width: 15px;
  height: 15px;
  background: url("../img/english.png") center no-repeat;
  transform: translateY(-50%);
}
.language__link_russian::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -20px;
  display: block;
  width: 15px;
  height: 15px;
  background: url("../img/russian.png") center no-repeat;
  transform: translateY(-50%);
}

.btn-callback {
  font-family: "Proxima Nova Regular", sans-serif;
  font-weight: 700;
  border: 2px solid #507fe1;
  background-color: #000000;
  color: #507fe1;
}

/* медиа запросы */
@media (max-width: 992px) {
  .contact_address {
    display: none;
  }
}
@media (max-width: 768px) {
  .contact_phone {
    display: none;
  }
}
@media (max-width: 550px) {
  .menu-btn {
    width: 15%;
  }

  .logo {
    width: 180px;
  }
  .logo__title {
    margin-right: auto;
    margin-left: auto;
  }
  .logo__subtitle {
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
  }

  .contact_phone {
    display: none;
  }

  .language {
    width: 15%;
  }
  .language__link {
    display: inline-block;
  }
  .language__link_english {
    margin-bottom: 1.9rem;
  }
  .language__link_english::before {
    left: 35%;
  }
  .language__link_russian::before {
    left: 35%;
  }
  .language__text {
    display: none;
  }

  .btn-callback {
    display: none;
  }
}
/* menu */
.menu {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: -5;
  padding: 0;
  transition: all 0.3s;
  background-color: #507fe1;
  opacity: 0;
}
.menu_active {
  z-index: 15;
  transition: all 0.3s;
  transform: translateY(100%);
  opacity: 1;
}

.menu-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  padding: 0px;
}
.menu-block__item {
  height: 100%;
  margin: 0;
  list-style-type: none;
  transition: all 0.3s;
}
.menu-block__item:hover {
  background-color: #fff;
  color: #507fe1;
  transition: all 0.3s;
}
.menu-block__link {
  display: inline-block;
  padding: 1.5rem;
  font-family: "Proxima Nova Regular", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  color: inherit;
}

@media (max-width: 1200px) {
  .menu-block__link {
    padding: 1.5rem 1rem;
    font-size: 1.4rem;
  }
}
@media (max-width: 992px) {
  .menu-block__link {
    padding: 1.5rem 0.5rem;
  }
}
@media (max-width: 768px) {
  .menu {
    height: calc(100vh - 8rem);
    overflow-y: auto;
  }

  .menu-block {
    padding-top: 2rem;
    padding-bottom: 2rem;
    flex-direction: column;
  }
  .menu-block__link {
    padding: 1.5rem;
  }
}
/* Главный экран */
.main-content {
  margin-top: 8rem;
}

.main {
  padding-top: 8rem;
  padding-bottom: 17rem;
  background: url(../img/main/main.png) center no-repeat;
  background-size: cover;
  background-color: #ffffff;
}
.main__title-wrap {
  margin-bottom: 6rem;
  text-align: center;
  color: #ffffff;
}
.main__title {
  font-family: "Proxima Nova Bold", sans-serif;
  font-weight: 700;
  font-size: 4.5rem;
}
.main__subtitle {
  font-family: "Proxima Nova Regular", sans-serif;
  font-weight: 300;
  font-size: 2.5rem;
}
.main__policy {
  margin-top: 1rem;
}

.main-form {
  margin-right: auto;
  margin-left: auto;
  padding: 2rem;
  width: 73rem;
  font-size: 1.6rem;
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
}
.main-form__input {
  float: left;
  margin-bottom: 1.5rem;
  width: 33.3%;
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.8);
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
  border-right: 1px solid #000000;
}
.main-form__button {
  margin-bottom: 1.5rem;
  margin-top: 1px;
  display: inline-block;
  width: 23rem;
  height: 40px;
  text-transform: none;
  color: #ffffff;
  background-color: #507fe1;
  border: 1px solid #507fe1;
  transition: all 0.3s;
}

.policy__label {
  display: inline-block;
  width: 11px;
  height: 11px;
  border: none;
  background-color: #ffffff;
}
.policy__checkbox:checked + label {
  background: url(../img/mark.svg) center no-repeat;
  background-size: cover;
  background-color: #507fe1;
}
.policy__checkbox {
  display: none;
}
.policy__link {
  text-decoration: underline;
}
.policy__link:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .main-form {
    margin-right: auto;
    margin-left: auto;
    width: 80%;
  }
  .main-form__input {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2.5rem;
    width: 100%;
    border: none;
  }
  .main-form__button {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    border-left-color: #507fe1;
  }
}
@media (max-width: 550px) {
  .main__title {
    font-size: 3.9rem;
  }
  .main__subtitle {
    font-size: 2rem;
  }

  .main-form {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }
  .main-form__input {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: 40px;
  }
  .main-form__button {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: 40px;
  }
}
@media (max-width: 420px) {
  .main__title {
    font-size: 3.5rem;
  }

  .policy__link {
    display: block;
    margin-left: 1.7rem;
  }
}
/* О компании */
.about {
  background-color: #ffffff;
  padding-top: 2.4rem;
  padding-bottom: 19rem;
}
.about > .container {
  position: relative;
  z-index: 5;
  background-color: inherit;
}
.about::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -9rem;
  z-index: 1;
  width: 100%;
  height: 18rem;
  background-color: #ffffff;
  transform: skewY(-2deg);
}
.about__wrap {
  max-width: 60%;
}

@media (max-width: 768px) {
  .about__wrap {
    max-width: 90%;
  }
}
@media (max-width: 550px) {
  .about__wrap {
    max-width: 100%;
  }
}
/* Услуги */
.service {
  background-color: #f1f1f1;
  padding-top: -1.3rem;
  padding-bottom: 17rem;
}
.service > .container {
  position: relative;
  z-index: 5;
  background-color: inherit;
}
.service::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -9rem;
  z-index: 1;
  width: 100%;
  height: 18rem;
  background-color: #f1f1f1;
  transform: skewY(2deg);
}
.service__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.service__card:nth-child(1) {
  margin-bottom: 4rem;
}
.service__card:nth-child(2) {
  margin-bottom: 4rem;
}

.card {
  position: relative;
  z-index: 5;
  height: 450px;
  flex-basis: 48%;
  background-color: #ffffff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.4);
  transition: all 0.3s;
  overflow: hidden;
}
.card:hover .card__text-wrap {
  background-color: #507fe1;
  color: #ffffff;
  transition: all 0.3s;
  visibility: visible;
}
.card:hover .card__text-wrap::before {
  background-color: #507fe1;
  transition: all 0.3s;
}
.card:hover .card__link {
  color: #ffffff;
  visibility: visible;
}
.card:hover .card__title {
  color: #ffffff;
}
.card__img {
  width: 100%;
}
.card__text-wrap {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  padding: 1rem 2rem;
  width: 100%;
  height: auto;
  background-color: #ffffff;
  transition: all 0.3s;
}
.card__text-wrap::before {
  content: "";
  position: absolute;
  top: -15px;
  left: 0;
  z-index: 2;
  display: block;
  width: 100%;
  height: 70px;
  background-color: #ffffff;
  transition: all 0.3s;
  transform: skewY(5deg);
}
.card__text-wrap::after {
  content: "";
  position: absolute;
  top: -15px;
  right: 0;
  z-index: -1;
  display: block;
  width: 35%;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.8);
  transition: all 0.3s;
  transform: skewY(-10deg);
}
.card__link {
  position: relative;
  z-index: 5;
  font-size: 1.8rem;
  text-decoration: underline;
  visibility: hidden;
}
.card__title {
  position: relative;
  z-index: 5;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 2.2rem;
  font-weight: 900;
  color: #507fe1;
}
.card__text {
  position: relative;
  z-index: 5;
}

@media (max-width: 768px) {
  .service__card {
    margin-bottom: 4rem;
  }

  .card {
    flex-basis: 80%;
    margin-right: auto;
    margin-left: auto;
  }
  .card__text-wrap {
    top: auto;
  }
}
@media (max-width: 550px) {
  .card {
    flex-basis: 100%;
    margin-right: auto;
    margin-left: auto;
  }
}
/* Преимущества */
.features {
  background-color: #ffffff;
  padding-top: 2.4rem;
  padding-bottom: 19rem;
}
.features > .container {
  position: relative;
  z-index: 5;
  background-color: inherit;
}
.features::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -9rem;
  z-index: 1;
  width: 100%;
  height: 18rem;
  background-color: #ffffff;
  transform: skewY(-2deg);
}
.features__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000000;
}
.features__item {
  text-align: center;
}
.features__img {
  width: 7rem;
}
.features__text {
  display: block;
  margin-top: 2rem;
  font-family: "Proxima Nova Regular", sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
}

@media (max-width: 768px) {
  .features__wrap {
    flex-wrap: wrap;
  }
  .features__item {
    flex-basis: 50%;
  }
  .features__item:nth-child(3) {
    margin-top: 5rem;
  }
  .features__item:nth-child(4) {
    margin-top: 5rem;
  }
}
/* Стоимость */
.price {
  background-color: #f1f1f1;
  padding-top: -1.3rem;
  padding-bottom: 17rem;
}
.price > .container {
  position: relative;
  z-index: 5;
  background-color: inherit;
}
.price::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -9rem;
  z-index: 1;
  width: 100%;
  height: 18rem;
  background-color: #f1f1f1;
  transform: skewY(2deg);
}
.price__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-card {
  position: relative;
  z-index: 5;
  padding-top: 8rem;
  width: 29rem;
  height: 53rem;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}
.price-card:nth-child(1) {
  background: url(../img/price/cost-1.png) center no-repeat;
  background-size: cover;
}
.price-card:nth-child(2) {
  background: url(../img/price/cost-1.png) center no-repeat;
  background-size: cover;
}
.price-card:nth-child(3) {
  background: url(../img/price/cost-1.png) center no-repeat;
  background-size: cover;
}
.price-card:hover .price-card__block {
  background-color: #507fe1;
  transition: all 0.3s;
}
.price-card:hover .price-card__block::after {
  background-color: #507fe1;
  transition: all 0.3s;
}
.price-card:hover .price-card__title {
  color: #ffffff;
}
.price-card:hover .price-card__description {
  color: #ffffff;
}
.price-card:hover .price-card__link {
  visibility: visible;
}
.price-card__from {
  color: #ffffff;
}
.price-card__price {
  display: inline-block;
  margin-left: 1rem;
  font-family: "Proxima Nova Bold", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  text-transform: uppercase;
}
.price-card__time {
  display: block;
  margin-top: 1.5rem;
  color: #ffffff;
}
.price-card__block {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 1rem 1.5rem 1rem;
  color: #000000;
  background-color: #ffffff;
  transition: all 0.3s;
}
.price-card__block::after {
  content: "";
  position: absolute;
  top: -27px;
  right: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 40px;
  background-color: #ffffff;
  transition: all 0.3s;
  transform: skewY(5deg);
}
.price-card__block::before {
  content: "";
  position: absolute;
  top: -31px;
  right: 0;
  z-index: -1;
  display: block;
  width: 35%;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.8);
  transform: skewY(-11deg);
}
.price-card__title {
  position: relative;
  z-index: 5;
  margin-bottom: 2rem;
  font-size: 2.2rem;
  color: #507fe1;
}
.price-card__description {
  margin-top: 0;
  margin-bottom: 1rem;
  color: #000000;
}
.price-card__link {
  font-size: 1.8rem;
  text-decoration: underline;
  visibility: hidden;
}
.price-card__link:hover {
  color: #ffffff;
  text-decoration: none;
}

@media (max-width: 992px) {
  .price-card {
    width: 26rem;
    height: 53rem;
  }
}
@media (max-width: 768px) {
  .price__wrap {
    flex-direction: column;
  }

  .price-card {
    width: 31rem;
    margin-top: 3rem;
  }
}
/* Материалы */
.materials {
  background-color: #ffffff;
  padding-top: 2.4rem;
  padding-bottom: 3rem;
}
.materials > .container {
  position: relative;
  z-index: 5;
  background-color: inherit;
}
.materials::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -9rem;
  z-index: 1;
  width: 100%;
  height: 18rem;
  background-color: #ffffff;
  transform: skewY(-2deg);
}
.materials__description {
  width: 60%;
  margin-bottom: 2rem;
}

.slider {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2.2rem;
}
.slider__slide {
  padding: 2rem;
  line-height: 35rem;
}
.slider__slide:focus {
  outline: none;
}
.slider__text-block {
  display: inline-block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  max-width: 50%;
  line-height: normal;
  vertical-align: middle;
}
.slider__title {
  font-family: "Proxima Nova Regular", sans-serif;
  font-weight: 900;
  font-size: 2.2rem;
}
.slider__img {
  float: right;
  height: 35rem;
}
.slider__btn {
  position: absolute;
  top: 50%;
  z-index: 10;
  border: none;
  background-color: transparent;
  transform: translateY(-50%);
}
.slider__prev-btn {
  left: -5rem;
}
.slider__next-btn {
  right: -5rem;
}

@media (max-width: 992px) {
  .materials__description {
    margin-right: auto;
    margin-left: auto;
    width: 70%;
    text-align: center;
  }

  .slider {
    text-align: center;
  }
  .slider__slide {
    padding: 1rem;
    line-height: normal;
  }
  .slider__text-block {
    display: inline-block;
  }
  .slider__img {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .slider__text-block {
    max-width: 100%;
    vertical-align: top;
  }
  .slider__description {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 550px) {
  .materials__description {
    width: 80%;
  }

  .slider__img {
    max-width: 100%;
    max-height: auto;
  }
  .slider__next-btn {
    right: -3.5rem;
  }
  .slider__prev-btn {
    left: -3.5rem;
  }
  .slider__description {
    width: 100%;
  }
}
@media (max-width: 420px) {
  .materials__description {
    width: 100%;
  }

  .slider {
    width: 100%;
  }
  .slider__slide {
    padding: 0.5rem;
  }
  .slider__img {
    height: 30rem;
  }
  .slider__prev-btn {
    left: 0;
  }
  .slider__next-btn {
    right: 0;
  }
}
/* Страхование */
.insurance {
  background-color: rgba(0, 0, 0, 0.8);
  padding-top: 17rem;
  padding-bottom: 15rem;
  color: #ffffff;
}
.insurance::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -9rem;
  z-index: 1;
  width: 100%;
  height: 18rem;
  background-color: #ffffff;
  transform: skewY(2deg);
}
.insurance__title {
  color: #ffffff;
}
.insurance__description {
  width: 60%;
}

@media (max-width: 768px) {
  .insurance__description {
    width: 90%;
  }
}
@media (max-width: 550px) {
  .insurance__description {
    width: 100%;
  }
}
/* Страхование */
.transport {
  background-color: #f1f1f1;
  padding-top: 2.4rem;
  padding-bottom: 19rem;
}
.transport > .container {
  position: relative;
  z-index: 5;
  background-color: inherit;
}
.transport::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -9rem;
  z-index: 1;
  width: 100%;
  height: 18rem;
  background-color: #f1f1f1;
  transform: skewY(-2deg);
}
.transport__wrap {
  display: flex;
  justify-content: space-between;
  align-self: flex-start;
}
.transport__block {
  display: flex;
  justify-content: space-between;
  align-self: flex-start;
  width: 44.5%;
}
.transport__block_width {
  width: 100%;
}
.transport__way {
  margin-top: 4.7rem;
  padding: 1rem;
}
.transport__way_margin-top-zero {
  margin-top: 0;
}

.way__title {
  margin-top: 0;
  font-family: "Proxima Nova Regular", sans-serif;
  font-weight: 900;
  font-size: 2.2rem;
}
.way__item {
  display: block;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .transport__wrap {
    flex-wrap: wrap;
  }
  .transport__block {
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
  }
  .transport__way {
    width: 33.3%;
  }
  .transport__way:nth-child(4) {
    margin-top: 0;
  }
  .transport__way:nth-child(5) {
    margin-top: 0;
  }
  .transport__way:nth-child(6) {
    margin-top: 0;
  }
}
@media (max-width: 550px) {
  .transport__way {
    padding: 0.5rem;
    width: 50%;
    text-align: center;
  }
  .transport__way:nth-child(3) {
    margin-top: 0;
  }
}
/* Отзывы */
.review {
  background-color: #ffffff;
  padding-top: -1.3rem;
  padding-bottom: -1rem;
}
.review > .container {
  position: relative;
  z-index: 5;
  background-color: inherit;
}
.review::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -9rem;
  z-index: 1;
  width: 100%;
  height: 18rem;
  background-color: #ffffff;
  transform: skewY(2deg);
}

.review-slider__slide {
  padding: 2rem;
}
.review-slider__slide:focus {
  outline: none;
}
.review-slider__block {
  float: left;
  display: inline-block;
  width: 30%;
  text-align: center;
}
.review-slider__circle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  height: 100px;
  width: 100px;
  border: 2px solid #507fe1;
  border-radius: 50%;
  overflow: hidden;
}
.review-slider__img {
  height: 100%;
}
.review-slider__name {
  display: inline-block;
  margin-top: 2rem;
  font-family: "Proxima Nova Regular", sans-serif;
  font-weight: 600;
}

@media (max-width: 992px) {
  .review-slider__block {
    float: none;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .review__container {
    top: 0;
  }
}
/* Узнать стоимость */
.cost {
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  padding-top: 20.6rem;
  padding-bottom: 10rem;
}
.cost::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -9rem;
  z-index: 1;
  width: 100%;
  height: 18rem;
  background-color: #ffffff;
  transform: skewY(-2deg);
}
.cost__title {
  color: #ffffff;
}
.cost__form {
  margin-left: auto;
  margin-right: auto;
}

.cost-form {
  width: 80%;
}
.cost-form__group {
  margin: 0;
  margin-bottom: 3.5rem;
  padding: 0;
  border: none;
}
.cost-form__title {
  margin-bottom: 2rem;
  font-size: 2.2rem;
}
.cost-form__input {
  width: 32%;
}
.cost-form__input:nth-child(2) {
  margin-left: 2%;
  margin-right: 2%;
}
.cost-form__block-one {
  display: flex;
  justify-content: space-between;
}
.cost-form__block:nth-child(2) {
  float: left;
  margin-bottom: 3rem;
  width: 49%;
}
.cost-form__block:nth-child(3) {
  float: right;
  margin-bottom: 3rem;
  width: 49%;
}
.cost-form__block:nth-child(4) {
  clear: both;
  width: 100%;
}
.cost-form__select {
  display: block;
  width: 100%;
  color: rgba(0, 0, 0, 0.7);
}
.cost-form__select option {
  color: #000000;
}
.cost-form__select option:first-child {
  color: rgba(0, 0, 0, 0.7);
}
.cost-form__select:first-child {
  margin-bottom: 3rem;
}
.cost-form__select:nth-child(3) {
  margin-bottom: 3rem;
}
.cost-form__textarea {
  width: 100%;
  overflow: hidden;
  resize: none;
}
.cost-form__textarea:nth-child(2) {
  margin-top: 3rem;
  height: auto;
}
.cost-form__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #507fe1;
}

.select {
  position: relative;
  padding-left: 10px;
  background-color: #ffffff;
}
.select__text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.select:hover::after {
  opacity: 1;
  transition: all 0.3s;
}
.select::after {
  content: "";
  position: absolute;
  top: 9px;
  right: 9px;
  width: 25px;
  height: 25px;
  background: url(../img/offer-arrow.png) center no-repeat;
  transition: all 0.3s;
  transform: rotate(0deg);
  opacity: 0;
}
.select.on::after {
  opacity: 1;
  transform: rotate(180deg);
}
.select__wrap {
  position: absolute;
  left: 0px;
  z-index: 15;
  height: 0rem;
  width: 100%;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  transition: all 0.3s;
  visibility: hidden;
  overflow-y: scroll;
  overflow-x: hidden;
}
.select__wrap_active {
  z-index: 15;
  transition: all 0.3s;
  visibility: visible;
}
.select__option {
  display: block;
  padding: 0.5rem 0rem 0.5rem 10px;
  color: #000000;
}
.select__option:first-child {
  color: rgba(0, 0, 0, 0.7);
}
.select__option:hover {
  background-color: rgba(80, 127, 225, 0.4);
}

@media (max-width: 992px) {
  .cost-form {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .cost-form {
    width: 80%;
  }
  .cost-form__input {
    float: none;
    width: 100%;
    margin-bottom: 3rem;
  }
  .cost-form__input:nth-child(2) {
    margin-left: 0;
    margin-right: 0;
  }
  .cost-form__block-one {
    flex-direction: column;
  }
  .cost-form__block:nth-child(2) {
    float: none;
    width: 100%;
  }
  .cost-form__block:nth-child(3) {
    float: none;
    width: 100%;
  }
}
@media (max-width: 550px) {
  .cost-form {
    width: 100%;
  }
}
/* Футер */
.footer {
  padding-top: 3rem;
  padding-bottom: 2rem;
  font-size: 1.5rem;
  background-color: #000000;
  color: #ffffff;
}
.footer__wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer__block {
  display: flex;
  flex-basis: 33.3%;
}
.footer__block:first-child {
  justify-content: flex-start;
  flex-direction: column;
}
.footer__block:nth-child(2) {
  justify-content: center;
}
.footer__block:last-child {
  justify-content: flex-end;
}
.footer__text {
  margin-top: 1.3rem;
}
.footer__img {
  width: 20rem;
}
.footer__contact {
  align-items: flex-end;
}
.footer__contact-item {
  margin-bottom: 1.3rem;
}

@media (max-width: 768px) {
  .footer__wrap {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer__block {
    margin-bottom: 3rem;
    justify-content: center;
    align-items: center;
  }
  .footer__block:last-child {
    margin-bottom: 0;
  }
  .footer__contact {
    align-items: center;
  }
}
/* Модальные окна */
.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  overflow-y: scroll;
  overflow-x: hidden;
  opacity: 0;
  visibility: hidden;
}
.modal_active {
  z-index: 999999999;
  visibility: visible;
}
.modal__wrap {
  width: 100%;
  height: auto;
  max-width: 500px;
  max-height: 100%;
}
.modal__content {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 3rem;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
.modal__thanks {
  background-color: rgba(0, 0, 0, 0.9);
}
.modal__title {
  margin: 0;
  margin-bottom: 2rem;
  font-size: 2rem;
  text-align: center;
  color: #ffffff;
}
.modal__text {
  font-size: 1.6rem;
  text-align: center;
  color: #ffffff;
}
.modal__close {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 5;
  width: 3rem;
  height: 3rem;
  border: none;
  background-color: transparent;
  transition: all 0.3s;
}
.modal__close:hover {
  background-color: #ffffff;
  transition: all 0.3s;
}
.modal__close::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 15px;
  height: 15px;
  background: url("../img/cross.svg") center no-repeat;
  transform: translate(-50%, -50%);
}

.modal-form {
  width: 100%;
  background-color: inherit;
}
.modal-form__input {
  float: none;
  margin-bottom: 3rem;
  width: 100%;
  border: 1px solid #000000;
}
.modal-form__button {
  width: 100%;
}

@media (max-width: 420px) {
  .modal__content {
    padding: 0;
  }
  .modal__thanks {
    padding: 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
