/* базовые настройки */
*{
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  @include light();
  color: $text-light;
}
a, button, input, textarea, select {
  outline: none;
  text-decoration: none;
  &:focus {
    outline: none;
  }
}
a {
  transition: all $transition-delay;
}
a:hover {
  text-decoration: none;
  text-shadow: 2px 2px 3px $text-main;
  color: $text-main;
  transition: all $transition-delay;
}
a:active {
  color: $text-light;
}
.button {
  padding: 1.2rem 2.5rem 1.2rem 2.5rem;
  text-transform: uppercase;
  border: none;
  background-color: $bg-main;
  color: $text-light;
  transition: all $transition-delay;
  &:hover {
    background-color: darken($bg-main, 5%);
    color: darken($text-light, 5%);
    transition: all $transition-delay;
  }
}
/* контейнер для контента */
.container {
  max-width: 1170px;
  margin: 0px auto;
}
/* медиа запросы */
@media(max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}
@media(max-width: 992px) {
  html{
    font-size: 8px;
  }
  .container {
    max-width: 750px;
  }
}
@media(max-width: 768px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media(max-width: 480px) {
  .input {
    padding: 2rem 2rem;
    height: 6rem;
  }
}