/* цвета текста */
$text-dark: #000000;
$text-lighten: #868686;
$text-light: #ffffff;
/* цвета фона */
$bg-light: #ffffff;
$bg-offer: #f1f1f1;
$bg-catalog: #f5f6f8;
$bg-contacts: #fafbfc;
/* цвет фона и текста кнопки */
$btn-color: #507fe1;
$btn-color_hover: #3866c7;
$btn-catalog: #6a99e9;