/* цвета текста */
$text-dark: #000000;
$text-lighten: #868686;
$text-light: #ffffff;
$text-main: #507fe1;
/* цвета фона и базовые цвета*/
$bg-light: #ffffff;
$bg-dark: #000000;
$bg-main: #507fe1;
$bg-service: #f1f1f1;
$icons-color: #507fe1;
/* цвет фона и текста кнопки */
$btn-color: #507fe1;
/* переменные */
$transition-delay: 0.3s;
$header-height: 8rem;