.about {
  background-color: $bg-light;
  &__wrap {
    max-width: 60%;
  }
  &__text {
    font-size: 1.5rem;
  }
  &__title {
    margin-top: -2.5rem;
  }
}
@media (max-width: 992px) {
  .about {
    padding-bottom: 18rem;
  }
}
@media (max-width: 768px) {
  .about {
    &__wrap {
      max-width: 90%;
    }
  }
}
@media (max-width: 550px) {
  .about {
    &__wrap {
      max-width: 100%;
    }
  }
}