.about {
  background-color: $bg-light;

  @include curved-line ($p-top: 4.4rem, $p-bottom: 21rem);
  &__wrap {
    max-width: 60%;
  }
}
@media (max-width: 768px) {
  .about {
    &__wrap {
      max-width: 90%;
    }
  }
}
@media (max-width: 550px) {
  .about {
    &__wrap {
      max-width: 100%;
    }
  }
}