.features {
  background-color: $bg-light;

  @include curved-line ($p-top: 4.4rem, $p-bottom: 21rem);
  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: $text-dark;
  }
  &__item {
    text-align: center;
  }
  &__img {
    width: 7rem;
  }
  &__text {
    display: block;
    margin-top: 2rem;

    @include regular(700);
    font-size: 1.8rem;
  }
}
@media (max-width: 768px) {
  .features {
  &__wrap {
    flex-wrap: wrap;
  }
  &__item {
    flex-basis: 50%;
    &:nth-child(3) {
      margin-top: 5rem;
    }
    &:nth-child(4) {
      margin-top: 5rem;
    }
  }
}
}
