.header {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 20;

  height: $header-height;

  font-size: 1.5rem;

  background-color: $bg-dark;
  color: $text-light;
  &__inner {
    position: relative;
    z-index: 20;

    background-color: $bg-dark;
  }
  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: $header-height;
  }
}
.menu-btn {
  position: relative;
  
  width: 5rem;
  height: 100%;

  border: none;
  background-color: transparent;

  transition: all $transition-delay;
  &_active {
    background-color: $bg-main;
  }
  &:hover {
    background-color: $bg-main;

    transition: all $transition-delay;
    .menu-btn__line, .menu-btn__line::after, .menu-btn__line::before {
      background-color: $bg-light;

      transition: all $transition-delay;
    }
  }
  @mixin menu-btn__line(){
    position: absolute;

    display: block;
    width: 2rem;
    height: 3px;

    border: none;
    background-color: $bg-main;

    transition: all $transition-delay;
  }
  &__line {
    @include menu-btn__line;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    &::after {
      @include menu-btn__line;

      content: "";

      top: 7px;
    }
    &::before {
      @include menu-btn__line;

      content: "";

      bottom: 7px;
    }
  }
  &__line_active {
    background-color: transparent !important;
    &::before {
      bottom: 0;

      background-color: $bg-light;

      transform: rotate(45deg);
    }
    &::after {
      top: 0;

      background-color: $bg-light;

      transform: rotate(-45deg);
    }
  }
}
.logo {
  margin-top: -0.6rem;
  display: flex;
  flex-direction: column;
  &__title {
    margin-top: 0;

    @include bold(700);
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    line-height: normal;

    color: $text-light;
    span {
      color: #ffa000;
    }
  }
  &__subtitle {
    font-size: 14px;

    color: $text-light;
  }
}
.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  max-width: 30rem;

  &__address {
    position: relative;

    margin-bottom: 1.3rem;
    &::before {
      content: "\f3c5";

      position: absolute;
      top: 50%;
      left: -18px;

      display: block;
      width: 15px;
      height: 15px;

      font-family: 'Font Awesome 5 Free', 'Font Awesome 5 Brands';
      font-weight: 900;
      font-size: 1.5rem;

      color: $icons-color;

      transform: translateY(-59%);
    }
  }
  &__schedule {
    position: relative;
    &::before {
      content: "\f017";

      position: absolute;
      top: 50%;
      left: -20px;

      display: block;
      width: 15px;
      height: 15px;

      font-family: 'Font Awesome 5 Free', 'Font Awesome 5 Brands';
      font-weight: 900;
      font-size: 1.5rem;

      color: $icons-color;

      transform: translateY(-59%);
    }
  }
  &__phone {
    position: relative;

    margin-bottom: 1.2rem;

    @include regular();
    font-size: 1.7rem;
    text-transform: uppercase;

    color: $text-light;
    &::before {
      content: "\f098";

      position: absolute;
      top: 50%;
      left: -20px;

      display: block;
      width: 15px;
      height: 15px;

      font-family: 'Font Awesome 5 Free', 'Font Awesome 5 Brands';
      font-weight: 900;
      font-size: 1.5rem;

      color: $icons-color;

      transform: translateY(-59%);
    }
  }
  &__mail {
    position: relative;

    color: $text-light;
    &::before {
      content: "\f0e0";

      position: absolute;
      top: 50%;
      left: -20px;

      display: block;
      width: 15px;
      height: 15px;

      font-family: 'Font Awesome 5 Free', 'Font Awesome 5 Brands';
      font-weight: 900;
      font-size: 1.5rem;

      color: $icons-color;

      transform: translateY(-59%);
    }
  }
}
.language {
  margin: 0;
  padding: 0;

  list-style-type: none;
  &__item {
    position: relative;

    margin-bottom: 1.3rem;

    color: $text-light;
    &:last-child {
      margin-bottom: 0px;
    }
  }
  &__link {
    color: $text-light;
    &_english::before {
      content: "";

      position: absolute;
      top: 50%;
      left: -20px;

      display: block;
      width: 15px;
      height: 15px;

      background: url("../img/english.png") center no-repeat;

      transform: translateY(-50%);
    }
    &_russian::before {
      content: "";

      position: absolute;
      top: 50%;
      left: -20px;

      display: block;
      width: 15px;
      height: 15px;

      background: url("../img/russian.png") center no-repeat;

      transform: translateY(-50%);
    }
  }
}
.btn-callback {
  @include regular(700);

  border: 2px solid $bg-main;
  background-color: $bg-dark;
  color: $text-main;
}
/* медиа запросы */
@media (max-width: 992px) {
  .contact {
    &_address {
      display: none;
    }
  }
}
@media (max-width: 768px) {
  .contact {
    &_phone {
      display: none;
    }
  }
}
@media (max-width: 550px) {
  .menu-btn {
    width: 15%;
  }
  .logo {
    width: 180px;
    &__title {
      margin-right: auto;
      margin-left: auto;
    }
    &__subtitle {
      display: inline-block;
      margin-right: auto;
      margin-left: auto;
    }
  }
  .contact {
    &_phone {
      display: none;
    }
  }
  .language {
    width: 15%;
    &__link {
      display: inline-block;
      &_english {
        margin-bottom: 1.9rem;
        &::before {
          left: 35%;
        }
      }
      &_russian {
        &::before {
           left: 35%;
        }
      }
    }
    &__text {
      display: none;
    }
  }
  .btn-callback {
    display: none;
  }
}