.insurance {
  background-color: rgba($bg-dark, 0.8);

  @include curved-line ($degrees: 2deg, $position: top, $p-top: 19rem, $p-bottom: 17rem);
  color: $text-light;
  &__title {
    color: $text-light;
  }
  &__description {
    width: 60%;
  }
}
@media (max-width: 768px) {
  .insurance {
    &__description {
      width: 90%;
    }
  }
}
@media (max-width: 550px) {
  .insurance {
    &__description {
      width: 100%;
    }
  }
}
