.insurance {
  background-color: rgba($bg-dark, 0.8);
  padding-bottom: 23rem;
  z-index: 5;
  color: $text-light;
  &__title {
    top: 21rem;
    margin-bottom: 28rem;
    color: $text-light;
  }
  &__description {
    font-size: 1.5rem;
  }
}
