.main-content {
  margin-top: $header-height;
}
.main {
  padding-top: 8rem;
  padding-bottom: 17rem;

  background: url(../img/main/main.png) center no-repeat;
  background-size: cover;
  background-color: $bg-light;
  &__title-wrap {
    margin-bottom: 6rem;

    text-align: center;

    color: $text-light;
  }
  &__title {
    @include bold(700);
    font-size: 4.5rem;
  }
  &__subtitle {
    @include regular(300);
    font-size: 2.5rem;
  }
  &__policy {
    margin-top: 1rem;
  }
}
.main-form {
  margin-right: auto;
  margin-left: auto;
  padding: 2rem;
  width: 73rem;

  font-size: 1.6rem;

  background-color: rgba($bg-dark, 0.8);
  color: $text-light;
  &__input {
    float: left;

    margin-bottom: 1.5rem;
    width: 33.3%;

    border: none;
    border-top: 1px solid rgba($bg-dark, 0.8);
    border-bottom: 1px solid rgba($bg-dark, 0.8);
    border-right: 1px solid $bg-dark;
  }
  &__button {
    margin-bottom: 1.5rem;
    margin-top: 1px;
    display: inline-block;
    width: 23rem;
    height: 40px;

    text-transform: none;
    color: $text-light;

    background-color: $btn-color;
    border: 1px solid $btn-color;

    transition: all $transition-delay;
  }
}
.policy {
  &__label {
    display: inline-block;
    width: 11px;
    height: 11px;

    border: none;
    background-color: $bg-light;
  }
  &__checkbox:checked + label {
    background: url(../img/mark.svg) center no-repeat;
    background-size: cover;
    background-color: $bg-main;
  }
  &__checkbox {
    display: none;
  }
  &__link {
    text-decoration: underline;
    &:hover {
      text-decoration: underline;
    }
  }
}


@media (max-width: 768px) {
  .main-form {
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    &__input {
      display: block;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 2.5rem;
      width: 100%;

      border: none;
    }
    &__button {
       display: block;
       margin-right: auto;
       margin-left: auto;
       width: 100%;
       
       border-left-color: $bg-main;
    }
  }
}
@media (max-width: 550px) {
  .main {
    &__title {
      font-size: 3.9rem;
    }
    &__subtitle {
      font-size: 2rem;
    }
  }
  .main-form {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    &__input {
      display: block;
      margin-right: auto;
      margin-left: auto;
      width: 100%;
      height: 40px;
    }
    &__button {
       display: block;
       margin-right: auto;
       margin-left: auto;
       width: 100%;
       height: 40px;
    }
  }
}
@media (max-width: 420px) {
  .main {
    &__title {
      font-size: 3.5rem;
    }
  }
  .policy {
    &__link {
      display: block;
      margin-left: 1.7rem;
    }
  }
}
