.materials {
  background-color: $bg-light;

  @include curved-line ($position: top-relative, $p-top: 4.4rem, $p-bottom: 5rem);
  &__description {
    width: 60%;
    margin-bottom: 2rem;
  }
}
.slider {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2.2rem;
  &__slide {
    padding: 2rem;

    line-height: 35rem;
    &:focus {
      outline: none;
    }
  }
  &__text-block {
    display: inline-block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-width: 50%;

    line-height: normal;
    vertical-align: middle;
  }
  &__title {
    @include regular(900);
    font-size: 2.2rem;
  }
  &__img {
    float: right;

    height: 35rem;
  }
  &__btn {
    position: absolute;
    top: 50%;
    z-index: 10;

    border: none;
    background-color: transparent;

    transform: translateY(-50%);
  }
  &__prev-btn {
    left: -5rem;
  }
  &__next-btn {
    right: -5rem;
  }
}
@media (max-width: 992px) {
  .materials {
    &__description {
      margin-right: auto;
      margin-left: auto;
      width: 70%;

      text-align: center;
    }
  }
  .slider {
    text-align: center;
    &__slide {
      padding: 1rem;

      line-height: normal;
    }
    &__text-block {
      display: inline-block;
    }
    &__img {
      float: none;

      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    &__text-block {
      max-width: 100%;

      vertical-align: top;
    }
    &__description {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
@media (max-width: 550px) {
  .materials {
    &__description {
      width: 80%;
    }
  }
  .slider {
    &__img {
      max-width: 100%;
      max-height: auto;
    }
    &__next-btn {
      right: -3.5rem;
    }
    &__prev-btn {
      left: -3.5rem;
    }
    &__description {
      width: 100%;
    }
  }
}
@media (max-width: 420px) {
  .materials {
    &__description {
      width: 100%;
    }
  }
  .slider {
    width: 100%;
  &__slide {
    padding: 0.5rem;
  }
  &__img {
    height: 30rem;
  }
  &__prev-btn {
    left: 0;
  }
  &__next-btn {
    right: 0;
    }
  }
}