.menu {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: -5;

  padding: 0;

  transition: all $transition-delay;

  background-color: $bg-main;
  opacity: 0;
  &_active {
    z-index: 15;

    transition: all $transition-delay;

    transform: translateY(100%);
    opacity: 1;
  }
}
.menu-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  padding: 0px;
  &__item {
    height: 100%;
    margin: 0;

    list-style-type: none;

    transition: all $transition-delay;
    &:hover {
      background-color: #fff;
      color: $text-main;

      transition: all $transition-delay;
    }
  }
  &__link {
    display: inline-block;
    padding: 1.5rem;

    @include regular();

    text-transform: uppercase;
    color: inherit;
  }
}
@media (max-width: 1200px) {
  .menu-block {
    &__link {
      padding: 1.5rem 1rem;

      font-size: 1.4rem;
    }
  }
}
@media (max-width: 992px) {
  .menu-block {
    &__link {
      padding: 1.5rem 0.5rem;
    }
  }
}
@media (max-width: 768px) {
  .menu {
    height: calc(100vh - 8rem);

    overflow-y: auto;
  }
  .menu-block {
    padding-top: 2rem;
    padding-bottom: 2rem;
    flex-direction: column;
    &__link {
      padding: 1.5rem;
    }
  }
}