.review {
  background-color: $bg-light;

  @include curved-line ($degrees: 2deg, $p-top: 0.7rem, $p-bottom: 1rem);
}
.review-slider {
  &__slide {
    padding: 2rem;
    &:focus {
      outline: none;
    }
  }
  &__block {
    float: left;

    display: inline-block;
    width: 30%;

    text-align: center;
  }
  &__circle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    height: 100px;
    width: 100px;

    border: 2px solid $bg-main;
    border-radius: 50%;

    overflow: hidden;
  }
  &__img {
    height: 100%;
  }
  &__name {
    display: inline-block;
    margin-top: 2rem;

    @include regular(600);
  }
}
@media (max-width: 992px) {
  .review-slider {
    &__block {
      float: none;

      width: 100%;
    }
  }
}
@media (max-width: 768px) {
  .review {
    &__container {
      top: 0;
    }
  }
}
