.service {
  background-color: $bg-service;

  @include curved-line ($bg-color: $bg-service,$degrees: 2deg, $p-top: 0.7rem, $p-bottom: 19rem);
  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  &__card {
    &:nth-child(1) {
    margin-bottom: 4rem;
    }
    &:nth-child(2) {
    margin-bottom: 4rem;
    }
  }
}
.card {
  position: relative;
  z-index: 5;

  height: 450px;
  flex-basis: 48%;

  background-color: $bg-light;
  box-shadow: 0px 0px 25px rgba($bg-dark, 0.4);

  transition: all $transition-delay;

  overflow: hidden;
  &:hover .card__text-wrap{
    background-color: $bg-main;
    color: $text-light;

    transition: all $transition-delay;

    visibility: visible;
    &::before {
      background-color: $bg-main;

      transition: all $transition-delay;
    }
  }
  &:hover .card__link {
    color: $text-light;

    visibility: visible;
  }
  &:hover .card__title {
    color: $text-light;
  }
  &__img {
    width: 100%;
  }
  &__text-wrap {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;

    padding: 1rem 2rem;
    width: 100%;
    height: auto;

    background-color: $bg-light;

    transition: all $transition-delay;
    &::before {
      content: "";

      position: absolute;
      top: -15px;
      left: 0;
      z-index: 2;

      display: block;
      width: 100%;
      height: 70px;

      background-color: $bg-light;

      transition: all $transition-delay;

      transform: skewY(5deg);
    }
    &::after {
      content: "";

      position: absolute;
      top: -15px;
      right: 0;
      z-index: -1;

      display: block;
      width: 35%;
      height: 60px;

      background-color: rgba($bg-light, 0.8);

      transition: all $transition-delay;

      transform: skewY(-10deg);
    }
  }
  &__link {
    position: relative;
    z-index: 5;

    font-size: 1.8rem;

    text-decoration: underline;

    visibility: hidden;
  }
  &__title {
    position: relative;
    z-index: 5;

    margin-top: 1rem;
    margin-bottom: 1rem;

    font-size: 2.2rem;
    font-weight: 900;

    color: $text-main;
  }
  &__text {
    position: relative;
    z-index: 5;
  }
}
@media (max-width: 768px) {
  .service {
    &__card {
      margin-bottom: 4rem;
    }
  }
  .card {
    flex-basis: 80%;
    margin-right: auto;
    margin-left: auto;
    &__text-wrap {
      top: auto;
    }
  }
}
@media (max-width: 550px) {
  .card {
    flex-basis: 100%;
    margin-right: auto;
    margin-left: auto;
  }
}