.transport {
  background-color: $bg-service;

  @include curved-line ($bg-color: $bg-service, $p-top: 4.4rem, $p-bottom: 21rem);
  &__wrap {
    display: flex;
    justify-content: space-between;
    align-self: flex-start;
  }
  &__block {
    display: flex;
    justify-content: space-between;
    align-self: flex-start;
    width: 44.5%;
    &_width {
      width: 100%;
    }
  }
  &__way {
    margin-top: 4.7rem;
    padding: 1rem;
    &_margin-top-zero {
      margin-top: 0;
    }
  }
}
.way {
  &__title {
    margin-top: 0;

    @include regular(900);
    font-size: 2.2rem;
  }
  &__item {
    display: block;
    margin-bottom: 1rem;
  }
}
@media (max-width: 768px) {
  .transport {
    &__wrap {
    flex-wrap: wrap;
    }
    &__block {
      flex-wrap: wrap;
      width: 100%;

      text-align: center;
    }
    &__way {
      width: 33.3%;
      &:nth-child(4) {
        margin-top: 0;
      }
      &:nth-child(5) {
        margin-top: 0;
      }
      &:nth-child(6) {
        margin-top: 0;
      }
    }
  }
}
@media (max-width: 550px) {
  .transport {
    &__way {
      padding: 0.5rem;
      width: 50%;
      
      text-align: center;
      &:nth-child(3) {
        margin-top: 0;
      }
    }
  }
}